#pic { 
    position: absolute;
    width: 50px;
    width: 60px;
    left: 50%;
    top: 5%;
}
    
#ground { 
    position: absolute;
    background-color: black;
    width: 100%;
    height: 20px;
    top: 95%;
}    